*{box-sizing:border-box;margin:0;padding:0}

body{
font-family:Arial,sans-serif;
background:#060711;
color:white;
min-height:100vh
}

header{
height:70px;
display:flex;
align-items:center;
gap:30px;
padding:0 6%;
border-bottom:1px solid #24243b
}

header a{color:#a78bfa;text-decoration:none}

main{
max-width:800px;
margin:auto;
padding:100px 20px
}

.command{
padding:35px;
border:1px solid #292942;
border-radius:22px;
background:#101020
}

.command-title{
display:flex;
align-items:center;
gap:15px;
margin-bottom:25px
}

.command-title span{
font-size:35px;
color:#a78bfa
}

.search{
display:flex;
padding:6px;
border:1px solid #30304b;
border-radius:13px
}

.search input{
flex:1;
padding:14px;
border:0;
outline:0;
background:transparent;
color:white
}

.search button{
padding:0 22px;
border:0;
border-radius:9px;
background:#7c3aed;
color:white
}

.commands{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:20px
}

.commands button{
padding:15px;
border:1px solid #292942;
border-radius:10px;
background:#151527;
color:#bbb;
cursor:pointer
}

#result{
margin-top:25px;
padding:20px;
background:#17172a;
border-radius:12px;
color:#bbb;
line-height:1.7
}

@media(max-width:600px){
.commands{grid-template-columns:1fr}
}